<h1 id="tableLabel">List of Patrons</h1>

<p>This component demonstrates fetching data from the server.</p>
@if(!patron)
{
    <p><em>Loading...</em></p>
}

@else
{
    <table>
        <thead>
            <tr>
                <th>Patron ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Checked Out Book ID</th>
            </tr>
        </thead>
        <tbody>
            @for(patron of patron; track $index){
            <tr>
                <td>{{ patron.patronId}}</td>
                <td>{{ patron.patronFname}}</td>
                <td>{{ patron.patronLname}}</td>
                <td>{{ patron.patronAddress}}</td>
                <td>{{ patron.patronCheckedBookId}}</td>
            </tr>
        }
        </tbody>
    </table>
}