<header>
    <mat-toolbar color="primary">
        <button mat-icon-button [routerLink]="['/']">
          <mat-icon>home</mat-icon>
        </button>
        
        <a mat-flat-button color="primary" [routerLink]="['/fetch-data']">Fetch Data</a>
        <span class="separator"></span>
        <a mat-flat-button color="primary" [routerLink]="['/librarian']">Librarian</a>
        <span class="separator"></span>
        <a mat-flat-button color="primary" [routerLink]="['/patron']">Patron</a>
    </mat-toolbar>
  </header> 